/*Fonts*/
@font-face {
    font-family: 'Futura';
    src: url('assets/fonts/futura/Futura-Medium.woff2') format('woff2'),
        url('assets/fonts/futura/Futura-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('/wp-content/themes/emagid/assets/fonts/futura/Futura-MediumItalic.woff2') format('woff2'),
        url('assets/fonts/futura/Futura-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura';
    src: url('/wp-content/themes/emagid/assets/fonts/futura/Futura-Bold.woff2') format('woff2'),
        url('assets/fonts/futura/Futura-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}



@font-face {
    font-family: 'proxima_novabold';
    src: url('/wp-content/themes/emagid/assets/fonts/proximaNova/proximanova-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/proximaNova/proximanova-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novaregular';
    src: url('/wp-content/themes/emagid/assets/fonts/proximaNova/proximanova-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/proximaNova/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novathin';
    src: url('/wp-content/themes/emagid/assets/fonts/proximaNova/proximanova-thin-webfont.woff2') format('woff2'),
         url('assets/fonts/proximaNova/proximanova-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_abold';
    src: url('/wp-content/themes/emagid/assets/fonts/proximaNova/proximanovaa-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/proximaNova/proximanovaa-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_nova_aregular';
    src: url('/wp-content/themes/emagid/assets/fonts/proximaNova/proximanovaa-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/proximaNova/proximanovaa-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_sbold';
    src: url('/wp-content/themes/emagid/assets/fonts/proximaNova/proximanovas-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/proximaNova/proximanovas-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_sregular';
    src: url('/wp-content/themes/emagid/assets/fonts/proximaNova/proximanovas-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/proximaNova/proximanovas-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}






body {
  background-color: white;
  padding-top: 0 auto;
  color: #2b2b2b;
  margin: 0;
  font-family: 'proxima_novaregular', sans-serif;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: 'Langdon';
  font-weight: bold;
  text-transform: uppercase;
    margin: 0;
    line-height: 2em;
}

h2 {
  margin-bottom: 20px;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 100;
}

p {
  line-height: 1.5;
    font-size: 18px;
    font-family: 'Colaborate';
    font-weight: 300;
    letter-spacing: 0.5px;
    margin: 0;
    color:#757575;
}
a, button {
    font-family: 'Colaborate';
    font-weight: 100;
}

.button.inverse {
  background: transparent;
  border: 3px solid white;
  color: white !important;
  position: absolute;
  font-size: 10px;
  /*width: 175px;*/
}

.button.inverse:hover {
  background-color: transparent;
}
#hidden {
    display: none;
}


/*  ==========  ANDREW HEADER  =============*/
header {
	text-transform: uppercase;
	font-family: 'Futura', sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 10px 30px 10px;
    height: 80px !important;
    border-bottom: 1px solid #e0e0e0;
}

header .logo {
  color: #1e182b;
  font-weight: bold;
  font-size: 16px;
}
header .logo img {
    width: 180px;
}
header nav {
  position: absolute;
  right: 135px;
  top:40px;
}

header nav a {
  font-weight: normal;
  margin-right: 30px;
  color: #1e182b;
  font-size: 14px;
  cursor: pointer;
  padding-bottom: 28px;
  border-bottom: 2px solid transparent;
  transition: border-bottom .3s;
}

header nav a:hover {
  text-decoration: none;
  cursor: pointer;
  border-bottom: 2px solid #1e182b;
}

header nav a:last-child {
  margin-right: 0;
}

#hamburger {
    position: absolute;
    right: 20px;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 22px;
}

.hamburger_line {
    width: 31px;
    background-color: #1e182b;
    margin: 7px 0;
    height: 3px;
    border-radius: 5px;
    transition: 0.4s;
}

.change1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px) ;
    transform: rotate(-45deg) translate(-6px, 6px);
}

.change2 {
    opacity: 0;
}

.change3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.dropdown {
  position: fixed;
  top: 100px;
  background: #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 100%;
  width: 100%;
  z-index: 1000;
  left: 0;
  display: none;
}

.flex {
  display: flex !important;
}

.noScroll {
  overflow: hidden;
}

.dropdown a {
  color: white;
  margin-bottom: 20px;
    
}
.dropdown ul li {
    margin-bottom: 20px;
    text-align: center;
}
/*  ==========  ANDREW HEADER END  =============*/

/*  ==========  SEAN HEADER START  =============*/


nav ul.menu li {
    display: inline-block;
    margin-right: 30px;
}
ul#menu-primary-menu-2 {
  text-align: center;
}
footer ul.menu li {
    text-transform: uppercase;
    font-family: 'proxima_novabold', sans-serif;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    letter-spacing: 0.5px;
}


/*  ==========  HOME HERO SECTION  =============*/
.hero {
  height: 550px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
    text-align: center;
}
.small_hero {
     height: 150px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
    text-align: center; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    margin-top: -1px;
}
.small_hero .text_box p {
    font-size: 28px;
    color:#fff;
    letter-spacing: 1.5px;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
}
.hero .overlay,
.small_hero .overlay{
    background: rgba(153, 155, 158, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.small_hero .overlay {
    background: rgba(43, 43, 43, 0.8);
}

.hero h1 {
  font-size: 48px;
    color:#fff;
    letter-spacing: 2px;
}

.hero p {
  font-size: 20px;
    color:#fff;
    width: 95%;
    margin: 0 auto;
    max-width: 650px;
}
.hero .text_box {
    margin-bottom: 60px;
}
.hero a.button {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 150px;
}

.home_hero {
  border-bottom: 1px solid #eaeaea;
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home_hero .button {
  margin-top: 10px;
}


.moveUp {
  margin-top: 130px;
}
/*  ==========  HOME HERO SECTION END =============*/




/*  ==========  CLIENT LOGO SECTION =============*/
.client_logos {
  background-color: white;
  padding: 150px 75px;
  /*border-bottom: 1px solid #eaeaea;*/
  text-align: left;
  max-width: 800px;
  margin: auto;
}

.client_logos > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logos {
  display: flex;
  justify-content: flex-start;
  margin-right: 50px;
  margin-bottom: 0;
}

.client_logos .button {
  margin-top: 20px;
}

.client_logos p {
  margin-top: 0;
}

.logos a {
  position: relative;
  cursor: pointer;
  height: 150px;
  width: 150px;
  /*background: white;*/
  display: flex;
  justify-content: center;
  align-items: center;
}


.logos a img {
  max-height: 120px;
  width: 100%;
  box-shadow: 0px 0px 15px #00000021;
}

.logos a .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #684d94;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  cursor: pointer;

}

.logos a .overlay p {
  font-weight: bold;
  color: white;
  font-family: 'Futura', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
}
/*  ==========  CLIENT LOGO SECTION =============*/

/*  ==========  ABOUT US PAGE =============*/
.grey_tone {
    padding: 150px;
    background: #f2f2f2;
    text-align: center;
}
.company_logo {
    /* width: 100%; */
    width: 800px;
    margin: 0 auto;
}
.company_logo img {
    display: inline-block;
    vertical-align:middle;
    /* max-width: 200px;
    padding: 50px; */
    max-width: 20%;
    padding: 15px;
}

@media ( max-width: 1200px ) {
  .company_logo {
    width: 100%;
  }
  .company_logo img {
    max-width: 25%;
    padding: 25px;
  }
}

@media ( max-width: 800px ) {
  .grey_tone{
    padding: 0px;
  }
  .company_logo img {
    max-width: 200px;
    padding: 25px;
  }
    
}
@media ( max-width: 550px ) {
    .blog_container {
        width: 90% !important;
        margin: 0 auto;
        padding-bottom: 0 !important;
        float: none;
    }
    
}

/*  ==========  ABOUT US SECTION =============*/
.about_us {
  padding: 50px 100px;
  border-bottom: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  background-color: #f7f7f7;
}

.services {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  align-items: flex-end;
  margin: auto;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  text-align: center;
}

.service img {
  max-width: 80px;
  width: 100%;
  margin-bottom: 15px;
}

.service p {
  margin-top: 0px;
}

.about_us {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.about_text {
  padding-left: 40px;
  width: 50%;
    margin-right: 0;
    margin-left: auto;
}

.about_text p {
  margin-right: 50px;
}

.about_text ul li {
    margin-bottom: 5px;
    font-size: 18px;
    column-count: 2;
    padding-left: 5px;
    list-style-type: disc;
}
.float_right_img {
  width: 40%;
}

.float_right_img {
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_us img {
  width: 250px;
  box-shadow: 0px 0px 15px #00000021;
  border-radius: 100%;
}

.bio .auto_center {
  width: 800px;
    line-height: 1.35em;
}

.bio p {
  width: 95%;
}

@media ( max-width: 1100px ) {
  .bio .auto_center {
    margin: 0 auto;
    width: 100%;
  }
  
  .bio p {
    margin: 0 auto;
    width: 100%;
  }
}

@media ( max-width: 925px ) {
  #case_studies_p {
    font-size: .9em;
  }
}



/*  ==========  ABOUT US SECTION END =============*/





/*  ==========  GROWTH SECTION =============*/
.growth {
  padding: 150px 100px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
}

.growth div {
  width: 40%;
}


.lets_talk.button {
  margin: 50px auto;
  display: block;
    color:#2b2b2b !important;
    border:1px solid #2b2b2b;
    width: 200px;
} 
.lets_talk.button:hover {
    color:#fff !important;
}
.talk_button {
    margin-top: 40px;
}

.partofteam {
  width: 37%;
  margin: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 100px;
}
/*  ==========  GROWTH SECTION END =============*/





/*  ==========  FOOTER =============*/
footer {
  background-color: #2b2b2b;
  padding: 75px 0;
  padding-top: 0;
  overflow: hidden;
  position: relative;
  margin-top: -30px;
    clear: both;
}

footer .logo {
  color: white;
  font-size: 16px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: 'Futura', sans-serif;
  padding: 30px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0;
}

.footer_holder {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  margin-top: 32px;
  position: relative;
}

footer .morgan{
  text-align: center;
  font-size: 13px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #8d879f;
  top: 49px;
}

.footer_holder > div {
  margin-right: 50px;
  padding-right: 50px;
  border-right: 1px solid #ffffff4d;
}

.footer_holder > div:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.join_footer {text-align: center;margin-top: 40px;}

.join_footer p {font-size: 2.5em;}

.links a {
  display: block;
  color: white;
  margin-bottom: 13px;
  font-size: 15px;
  transition: color .3s;
}

.left_center {
  width: inherit;
  text-align: left;
  margin: auto;
}

.links a:hover {
  color: #ffffffbf;
}

.news p {
  color: white;
  font-size: 12px;
  margin-bottom: 0px;
  margin-top: 5px;
}

.news p.industry {
    color: white;
    font-weight: bold;
    font-family: 'proxima_novabold', sans-serif;
    /*text-align: center;*/
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.social-icons a {
  margin-right: 10px;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons img {
  width: 33px;
}

.updates p {
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  margin-top: 0;
}

.updates input.input {
  width: 200px;
  padding: 10px;
  background: transparent;
  border: 1px solid white;
  color: white;
  outline: none;
    max-height: 35px !important;
}

/*
.updates form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
*/

.updates .button {
  padding: 8px 30px;
  margin-left: 10px;
}
.updates .button:hover {
    border-color: #fff;
}
/*  ==========  FOOTER END =============*/




/*  ==========  TEAM PAGE  =============*/
.about_hero {
  background-size: cover;
  background-position: center;
  background-color: #ffffffb5;
  background-blend-mode: soft-light;
}

.team_list {
  padding: 100px 30px;
}

.teams {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.team.top {
    text-align: center;
    margin: 0 auto;
}
.team_header {
    text-align: center;
    margin: 100px auto;
    border-bottom: 1px solid #eaeaea;
    
}

.team {
  margin: 1%;
    text-align: center;
  position: relative;
}

.team img {
  max-height: 300px;
  transition: filter .5s;
  cursor: pointer;
}

.grey {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.team .button.inverse {
  display: none;
  background: transparent;
  border: 3px solid white;
  color: white !important;
  position: absolute;
  bottom: 140px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  width: 175px;
}

.team .button.inverse:hover {
  background-color: transparent;
}

.team .button a {
  font-size: 12px;
  color: white;
}

.team h4 {
  margin-left: 20px;
  margin-bottom: 0;
  margin-top: 10px;
}

.team h6 {
  margin-left: 20px;
  margin-top: 10px;
    font-size: 14px;
}
/*  ==========  TEAM PAGE END =============*/



/*  ==========  PORTFOLIOS PAGE  =============*/
.portfolio_hero {
  background-size: cover;
  background-position: bottom center; 
  background-color: #ffffff87;
  background-blend-mode: soft-light;
}
.portfolio_nav {
    float: left;
    width: 35%;
}
.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
    float: left;
    width: 60%;
    margin-left: 5%;
    margin-bottom: 50px;
    
}
.portfolio_container {
    overflow: hidden;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 50px;
}
.portfolio a {
  height: 225px;
  width: 225px;
  box-shadow: 0px 0px 15px #00000021;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: scale .5s;
    position: relative;
}
.portfolio .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgba(104, 77, 148, 1);
      display: flex;
  justify-content: center;
  align-items: center;
    visibility: hidden;
}
.portfolio .overlay p {
    color:#fff;
    font-weight: bold;
    font-family: 'proxima_novabold', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.portfolio_Wrapper {
    padding-top: 100px;
}
.portfolio a:hover {
  transform: scale(.98);
}

.portfolio img {
    height: 100%;
    max-height: 100px;
    max-width: 100%;
}

/*  ==========  PORTFOLIOS PAGE END  =============*/



/*  ==========  BLOG PAGE  =============*/

.blog h1.page-title {
    text-align: center;
    
    
}
.blog main#main {
    overflow: hidden;
    padding-bottom: 100px;
}
.blog aside#secondary{
    display: none;
}
.blog_container {
    padding-top: 50px;
    padding-bottom: 100px;
    width: 27.3%;
    margin-left: 3%;
    margin-right: 3%;
    float: left;
}
.blog_container header {
    padding: 0;
    height: auto;
    text-align: center;
}
.blog_container .entry-meta {
    display: none;
}
.blog_container h2.entry-title {
    margin-bottom: 0;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 100;
}
.blog_container h2.entry-title a {
    color:#2b2b2b;
}
.blog_container footer {
    display: none;
}
.blog_container .entry-content {
    width: 90%;
    margin: 0 auto;
}

.blog_container article img {
    width: 100%;
    height: auto;
}


/*  ==========  PORTFOLIO PAGE  =============*/
/*.logo_hero {
  height: 150px;
  background-image: url('/wp-content/themes/emagid/assets/img/certify_hero.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #674d94;
  background-blend-mode: soft-light;
}*/

.portfolio_hero {
    border-bottom: 1px solid #eaeaea;
    background-size: cover;
    background-position: center;
    background-color: #ffffff87;
    background-blend-mode: soft-light;
}

.a_portfolio {
    background-image: url('/wp-content/themes/emagid/assets/img/certify_hero.jpg');
}

.portfolio_onepay {
    background-image: url('/wp-content/themes/emagid/assets/img/onepay_hero.jpg');
}

.portfolio_tag {
    background-image: url('/wp-content/themes/emagid/assets/img/tag_hero.jpg');
}

.portfolio_connect {
    background-image: url('/wp-content/themes/emagid/assets/img/connect_hero.jpg');
}

.circle_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -2px 0px 15px #0000002b;
  border-radius: 100%;
  width: 300px !important;
  height: 300px !important;
  background: white;
}

.circle_logo img {
  width: 180px !important;
}

.client_head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 75px 30px;
  border-bottom: 1px solid #eaeaea;
}

.client_head p {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 26px;
}

.client_body {
  padding: 150px 100px;
  text-align: center;
  padding: 100px 100px;
   background: #f7f7f7; 
  /* border-bottom: 1px solid #eaeaea; */
  border-bottom: 1px solid #eaeaea;
}

.client_body p {
  text-align: left;
  max-width: 800px;
  margin: auto;

}

.client_body img {
  width: 100%;
  max-width: 500px;
}

.technology {
  padding: 150px 100px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: auto;
}

.technology img {
  max-width: 500px;
  text-align: center;
  margin-bottom: 50px;
  width: 100%;
}
/*.tech_text {
  width: 50%;
  padding-right: 50px;
}

.technology .float_right_img {
  background-image: url('/wp-content/themes/emagid/assets/img/certify_img.png');
}*/
/*  ==========  PORTFOLIO PAGE END =============*/




/*  ==========  PERSON PAGE  =============*/
.person_hero {
  border-bottom: 1px solid #eaeaea;
}

.person_hero .circle_wrapper {
  overflow: hidden;
}

.person_hero .circle_wrapper img {
  width: 330px !important
}

.quotes {
  padding: 75px 0;
  border-bottom: 3px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.statement {
    margin: 0 auto;
    padding:100px;
    border-bottom: 3px solid #eaeaea; 
}

.quotes p {
  padding: 0 50px;
  font-size: 20px;
}

.quotes span {
    font-size: 65px;
    position: relative;
    left: 18px;
    font-family: 'Futura', sans-serif;
    color: #674d94;
}

.bio {
  padding: 150px;
}


}

/*  ==========  PERSON PAGE END  =============*/





/*  ==========  CONTACT PAGE  =============*/

.bio {
  padding: 100px;
}
.bio .form input.wpcf7-form-control.wpcf7-submit{
        background-color: #684d94;
    border: none;
    color: white !important;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Futura', sans-serif;
    font-weight: bold;
    font-weight: 600;
    letter-spacing: 1px;
    transition: background-color .3s;
    text-transform: uppercase;
}
.bio .form input[type=text],
.bio .form input[type=email]{
    padding: 10px;
    background: transparent;
    border: 1px solid #1e182b;
    outline: none;
    width: 90%;
}
.bio .form textarea {
    padding: 10px;
    background: transparent;
    border: 1px solid #1e182b;
    outline: none;
    width: 90%;
}
.bio .form {
    overflow: hidden;
}
.bio .form .form_left {
    width: 35%;
    float: left;
}
.bio .form .form_right {
    width: 60%;
    margin-left: 5%;
    float: left;
}

/* new */

#wpcf7-f30-o2 {
  margin: 0 auto;
  width: 800px;
}

.wpcf7-text, .wpcf7-textarea {
  width: 50%;
  border-radius: 1px;
  border: 1px solid black;
}

.wpcf7-text, .wpcf7-textarea {
  height: 50px;
  padding-left: 10px;
  font-family: 'proxima_novaregular', sans-serif;
}

input.wpcf7-email{
  width: 200px;
  padding: 0px 10px;
  background: transparent;
  border: 1px solid white;
  color: white;
  outline: none;
    height: 35px;
    vertical-align: middle;
}
.newsletter .wpcf7-submit {
        background-color: transparent;
    border: 1px solid #fff;
    color: white !important;
    padding: 8.5px 16px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
    transition: background-color .3s;
    max-width: 140px;
    margin: 0;
    vertical-align: middle;
}
.newsletter div.wpcf7-mail-sent-ok {
    color:#fff;
    width: 90% !important;
    margin: 10px auto !important;
    padding: 0 !important;
}
.newsletter .wpcf7-submit:hover {
    border-color: #fff;
}

.wpcf7-submit{
  background-color: transparent;
  border: 1px solid black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  transition: background-color .3s;
  margin: 50px auto;
  display: block;
  color: #2b2b2b;
  border: 1px solid #2b2b2b;
  width: 200px;
}

.wpcf7-submit:hover {
  background-color: #2b2b2b;
  color: #fff;
  border-color: #2b2b2b;
  cursor: pointer;
}

@media ( max-width: 1220px ) {
  #wpcf7-f30-o2 {
    width: 100%;
  }
  .wpcf7-text, .wpcf7-textarea {
    width: 75%;
  }
}


#wpcf7-f30-o2 p {text-align: center;}
textarea[name="your-message"]::-webkit-input-placeholder{padding-top: 18px; font-size: 13px;}
textarea[name="your-message"]::-moz-placeholder{padding-top: 18px; font-size: 13px;}
textarea[name="your-message"]:-ms-input-placeholder{padding-top: 18px; font-size: 13px;}
textarea[name="your-message"]:-moz-placeholder{padding-top: 18px; font-size: 13px;}

/*  ==========  CONTACT PAGE END  =============*/


.button {
	background-color: transparent;
    border:1px solid #fff;
	color: white !important;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  transition: background-color .3s;
}

.button:hover {
  background-color: #2b2b2b;
    border-color: #2b2b2b;
  cursor: pointer;
}

.navbar {
	margin-bottom: 0;
	border: none;
  	text-transform: uppercase;
  	padding: 10px;
  	padding-bottom: 0;
  	color: black;
}

.navbar-brand {
	padding: 0 15px;

}

.navbar li a, .navbar .navbar-brand {
	color: black;
}

.navbar-nav li a:hover {
	border-bottom: 3px solid #fff;
	background-color: none;
}


.navbar-reverse .navbar-toggle {
	border-color: transparent;
}

.active {
    border-bottom: 2px solid black;
    color:black !important;
    background-color: none !important;
}


#container {
	position: relative;
	width: 100%;
	padding: 0px;
}

#portfolio-section {
	background-color: #f2f2f2 !important;
}

#section1 {
	margin-left: 15px;
	padding: 40px;
	padding-left: 50px;
}



/*Circle Pie Chart style*/
.circle_wrapper {
    position: relative;
    width:336px;
    height:225px;
}

.circle_wrapper img {
    display: block;
    width: 336px;
    height: 225px;
}

/* Masks */
.circle_wrapper > div[class^='mask'] {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
}

.mask_left {
    left: 0;
    right: 50%;
}

.mask_right {
    left: 50%;
    right: 0;
}

/* Pseudo elements in masks */
.circle_wrapper > div[class^='mask']::before {
    background-color: #fff;
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.mask_left::before {
    animation: leftHalf 2s 0s 1 linear forwards;
    transform-origin: 100% 50%; /* center right */
}
.mask_right::before {
    animation: rightHalf 2s 0s 1 linear forwards;
    transform-origin: 0% 50%; /* center left */
}

@keyframes leftHalf {
    0%  { transform: rotate(0deg); }
    50% { transform: rotate(0deg); }
    100% { transform: rotate(180deg); }
}
@keyframes rightHalf {
    0%   { transform: rotate(0deg); }
    50%  { transform: rotate(180deg); }
    100% { transform: rotate(180deg); }
}

.img pie-image {
	height="225";
	padding-top: 10px;
	margin-bottom: 0;
}



.portfolio-img {
	background: #f2f2f2 !important;
	padding-bottom: 40px;
	/*padding: 50px;*/
	/*margin-left: 15px;*/
	/*padding: 40px;*/
	/*padding-left: 50px;*/
}

.portfolio-img img {
	/*padding: 5px;*/
}

#services {
	margin-left: 15px;
	padding: 40px;
	padding-left: 50px;
}

.services {
	padding-top: 50px
}

.caption {
	text-align: center;
}

#growth {
	margin-left: 15px;
	padding: 35px;
	padding-left: 50px;	
}

#growth button {
	display: block;
	margin: 0 auto;
	margin-top: 50px; 
}


.flex-container {
	padding: .5vw;
  font-size: 0;
  
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  
  display: flex;
}

.flex-container div {
	-webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw; 
}

.flex-container div img {
	width: 75%;
}

.footer {
	background-color: #1e182b;
}

.footer .header {
	text-align: center;
	color: white;
}

.footer hr {
	padding: 0;
	color: #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

.footer .row {
    margin-bottom: 0 auto;
}

.footer ul {
	text-align: center;
}

.footer ul li {
	color: white;
	list-style-type: none;
	display: inline-block;
	padding: 5px;
}

.footer ul li a {
	color: white;
}

#social-icons li img {
	height: 20px;
	width: 20px;
}

.footer .form-control {
	margin-left: 600px;
	display: inline;
}

.footer #signup {
	margin: 0 auto;
}







/*OUR TEAM STYLE*/
.team-list #info .button {
	position: absolute;
	width: 500px;
	left:0;
	right:0;
	top: 350px;
	text-align: center;
	opacity: 0;
	transition: opacity .35s ease;
}

.team-list #info .button a {
  width: 200px;
  padding: 12px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.team-list #info:hover .button {
  opacity: 1;
}

/*Individual Team Page Style*/
#sectionline hr {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

#profSection {
	background-color: #f2f2f2;
	width: 100%;
}

#profSection .header {
	padding: 50px;
	margin: 50px;
}

#profSection .profile img {
	margin-top: 50px
}

blockquote {
	margin-top: 10px;
    padding: 6px 16px;
    border: none;
    quotes: "\201C" "\201D";
    display: inline-block;
    position: relative;

}

blockquote:before { 
    content: open-quote;
    font-weight: bold;
    position:absolute;
    top:30px;
    left: 7px;
} 
blockquote:after { 
    content: close-quote;
    font-weight: bold;
    position:absolute;
    top:30px; right: 5px;
}

blockquote p {
	margin-top: 15px;
	padding: 15px;
}

.about {
	margin-left: 50px;
	padding: 45px;
	padding-left: 75px; 
}

.about .header {
	padding-bottom: 10px;
}

.navbar-brand{
	font-family: 'Futura-Bold', sans-serif;
    font-weight: 800;
    font-style: normal;
}

.navbar #rreMenu li a {
    font-family: 'Futura', sans-serif;
    font-weight: 600;
    font-style: normal;
}

.header{
    font-family: 'Futura', sans-serif;
    font-weight: 600;
    font-style: normal;
}

#container button {
	font-family: 'Futura', sans-serif;
    font-weight: bold;
    font-style: normal;
}

/*PORTFOLIO STYLE*/
#portfolio {
	background-color: #684d94;
	padding-top: 0;
}
/*Symbol image */
#portfolio img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
}

#certify img {
	margin-left: 75px;
}

#certify .header {
	padding: 175px;
	margin-left: 45px;
}

#story {
	margin-left: 75px;
	padding: 50px;
}

#story .header {
	padding-bottom: 20px;
}





/*  ============  MEDIA QUERIES  ===============*/
@media ( max-width: 1100px ) {
  .updates {
    width: 100%;
    text-align: center;
  }

  .footer_holder {
    flex-wrap: wrap;
    position: initial;
  }

  .news, .updates {
    margin-right: 0 !important; 
  }

  .left_center {
    width: max-content !important;
    margin-top: 30px;
  }


}


@media ( max-width: 1000px ) {

  .client_logos {
    padding: 100px 30px;
  }

  .client_logos > div {
    flex-wrap: wrap;
    justify-content: center;
  }

  .client_logos .logos {
    margin-right: 0;
  }

  .client_logos h2 {
    text-align: center;
  }

  .logos {
    justify-content: center;
  }

  .logos a {
    margin: 10px;
  }

  .growth {
    flex-wrap: wrap;
  }

  .growth div {
    width: 100%;
    margin-bottom: 50px;
  }

  .growth div:last-child {
    text-align: center;
    margin-bottom: 0;
  }

  .growth div img {
    margin-bottom: 20px;
    text-align: center;
    width: 37%;
    max-width: 320px;
    min-width: 240px;
    margin-top: 0;
    left: auto;
    transform: none;
  }

  .view_more {
    display: block;
    text-align: center;
  }

  .about_us {
    flex-wrap: wrap;
    margin-bottom: 300px;
  }

  .about_text {
    padding-left: 0;
    width: 100%;
  }
    footer ul.menu li {
        display: block;
        margin: 0 auto 15px;
    }

  .float_right_img {
    position: absolute;
    height: 300px;
    width: 100%;
    bottom: -300px;
    top: auto;
  }
}

@media ( max-width: 900px ) {
  .home_hero .text_box {
    margin-top: -157px;
      margin-bottom: 0;
  }
    .hero h1 {
        line-height: 1.25em;
        font-size: 38px;
    }

  .circle_wrapper {
    width: 50% !important;
  }

  .circle_logo {
    width: 300px !important;
  }

  .moveUp {
    margin-top: 150px;
  }

  .portfolio img {
    max-height: 80px;
  }

  .portfolio a {
    height: 150px;
    width: 150px;
  }

  .portfolio {
    padding: 100px 15px;
  }


}

@media ( max-width: 900px ) {
  #contact_hero_text{
    margin-top: 0px;
  }
}



    /*  ==========  INVESTMENT PAGE  =============*/

.image-wrapper {
  box-sizing:border-box;
  float: left;
  margin-bottom:30px;
  width: 48%;
    margin-left: 1%;
    margin-right: 1%;
  height: 300px;
/*    background: #f7f7f7;*/
}

/* .image-wrapper:nth-child(even)
{
  padding-left:5px;
}

.image-wrapper:nth-child(odd)
{
  padding-right:5px;
} */

.image-wrapper > img {
  width: 100%; 
  height: 100%;
}


.image-wrapper > span {
  display: inline-block;
  width: 100%;
}

.bottom_row{
  margin-bottom: 120px;
}

@media ( max-width: 800px ) {
  .bottom_row{
    margin-bottom: 60px;
  }
}  

/* .image-wrapper:hover {
  opacity: 0.5;
} */


.content {
  position: relative;
  width: 100%;
    height: 100%;
  display: flex;
    align-items: center;
    justify-content: center;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
    margin: 0 auto;
}
.content-image .content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details button{
  background-color: transparent;
  border: 1px solid #fff;
  color: white !important;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  transition: background-color .3s;
}

@media ( max-width: 800px ) {
  .content-details button{
    padding: 0px;
  }
    .image-wrapper {
        width: 100%;
    }
}  


.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}
header .logo {
    font-size: 14px;
}
/*  ==========  INVESTMENT PAGE END  =============*/







@media ( max-width: 800px ) {
  header nav {
    display: none;
  }
            .content .content-overlay {
        opacity: 1 !important;
                background: rgba(0,0,0,0.85);
    }
    .content-details {
        opacity: 1 !important;
    }
    .image-wrapper {
        height: auto;
    }
    .fadeIn-top {
        top:50%;
    }
    .content-details button {
            padding: 10px;
    width: 90%;
}
    }
  #hamburger {
    display: block;
  }

  .text_box {
    padding: 0 30px;
    text-align: center;
    width: 100%;
    margin-left: 0 !important;
  }

  .circle_wrapper {
      position: absolute !important;
      width: 60% !important;
      margin-top: 300px;
      left: 50%;
      transform: translateX(-50%);
      right: auto;
  }

  .circle_logo {
    width: 200px !important;
    height: 200px !important;
  }

  .circle_logo img {
    width: 130px !important;
  }

  .portfolio_hero, .person_hero {
    align-items: flex-start;
  }
    .social-icons {
        justify-content: center;
    }
    .left_center {
        text-align: center;
    }

  .portfolio_hero .text_box, .person_hero .text_box  {
    margin-top: 60px;
  }

  .moveUp {
    margin-top: 220px;
  }

  .circle_logo.moveUp {
    margin-top: 260px;
  }

  .about_us, .growth, .team_list, .bio, .technology, .statement {
    padding: 60px 30px;
  }
    .hero {
        height:350px;
    }
    .home_hero {
        height:430px;
    }

    h2 {
        font-size: 24px;
    }
  .services {
    flex-wrap: wrap;
  }

  .service {
      margin-bottom: 50px;
      padding-bottom: 50px;
      border-bottom: 1px solid #eaeaea;
  }

  .client_head {
    flex-wrap: wrap;
    justify-content: center;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: 100px 30px;
    border-bottom: 3px solid #eaeaea;
  }

  .client_body {
    padding: 100px 30px;
  }

  .client_head img {
    width: 100%;
    max-width: 300px;
  }

  .client_head > div {
    margin-left: 0;
  }

  .about_us {
    text-align: center;
  }

  .about_text p {
    margin-right: 0;
  }

  .footer_holder > div {
    width: 100%;
    text-align: center;
    margin-right: 0;
    padding-right: 0;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ffffff4d;
  }

  .footer_holder > div:last-child {
    border-bottom: none;
  }

    footer {
      padding-bottom: 20px;
    }
    .bio .form .form_left {
    width: 100%;
    float: none;
        margin-bottom: 20px;
    }
    .bio .form .form_right {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .portfolio_nav {
        width: 100%;
        float: none;
    }
    .portfolio {
        padding: 0;
        width: 100%;
        margin: 0 auto;
        float: none;
    }
}



@media only screen 
  and (max-device-width: 767px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    
    header {
      height: 8px;
    }

    header .logo {
      left: 20px;
      top: 26px;
      font-size: 14px;
    }

    h2 {
      font-size: 22px;
    }

    .home_hero h1 {
      font-size: 33px;
    }

    .home_hero p {
      font-size: 20px;
    }

    #hamburger {
      right: 23px;
      top: 17px;
      transform: scale(.7);
    }

    .circle_wrapper {
      width: 70% !important;
    }

    .circle_logo {
      width: 200px !important;
      height: 200px !important;
    }

    .person_hero, .about_hero {
      height: 315px;
    }

    .dropdown {
      top: 69px;
    }

    .portfolio {
      width: 90%;
    }

    .portfolio a {
      height: 124px;
      width: 124px;
    }

    .portfolio img {
      max-height: 65px;
    }

    .logos a {
      height: 106px;
      width: 106px;
    }

    .technology {
      text-align: center;
    }


}











